.home_content .swiper {
  width: 100%;
  height: 100%;
}

.home_content .swiper .swiper-slide {
  /* background-position: center;
  background-size: cover; */
  width: 100%;
  height: 100%;
}

.home_content .swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 10px;
}
