.home_content {
  margin-top: 30px;
}

section .description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  gap: 25px;
  overflow: hidden;
}
.description .sliderText {
  max-width: 500px;
  height: 300px;
  border-radius: 10px;
}

section .description .info {
  width: 50%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: justify;
  line-height: 25px;
  text-align-last: right;
}

.home_content .info h2 {
  margin-bottom: 40px;
  font-size: 1.9rem;
  font-weight: 800;
}
.home_content .info p {
  font-size: 0.9rem;
}

@media screen and (max-width: 1200px) {
  .home_content .info h2 {
    margin-bottom: 30px !important;
  }
}

@media screen and (max-width: 996px) {
  .home_content .info h2 {
    margin-bottom: 20px !important;
  }
  section .description .sliderText {
    width: 400px !important;
    height: 250px !important;
  }
}
@media screen and (max-width: 769px) {
  section .description {
    flex-direction: column;
  }

  section .description.reverse {
    flex-direction: column-reverse;
  }
  section .description .info {
    width: 100% !important;
  }
  .home_content .description .sliderText {
    width: 100% !important;
  }
  .home_content .description {
    padding: 0 !important;
  }
}
.home_content .info h2 {
  margin-bottom: 40px;
  font-size: 1.9rem;
  font-weight: 800;
}
