* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}
.App {
  max-width: 1200px;
  margin: 0 auto;
}
a {
  text-decoration: none !important;
  color: #fff !important;
  transition: 0.2s all !important;
}
a:hover {
  color: rgba(71, 71, 220, 0.763) !important;
  transform: scale(1) !important;
}
